.navbar {
    background-color: black !important;
    border-bottom: 2px solid #ff0000;
  }
  
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: white !important;
  }
  
  .navbar .nav-link.active {
    color: white !important;
  }
  
  .navbar .navbar-toggler-icon {
    background-color: white !important;
  }

  body {
background-color: #1c1c24;
  }

.card-custom-bg {
  background-color: #14141c;
}
.nav-link {
  font-family: 'Alte Haas Grotesk', sans-serif;
  color: white;
  font-weight: bold;
}
h1 {
  font-family: 'Alte Haas Grotesk', sans-serif;
  color: white;
  font-weight: bold;
}

.modal-content {
  background-color: #14141c; 
  border: 2px solid #ff0000; 
  color: white; 
}

.modal-header {
  background-color: #14141c; 
  border-bottom: 2px solid #ff0000; 
}

.modal-header .modal-title {
  font-family: 'Alte Haas Grotesk', sans-serif;
  color: white;
  font-weight: bold;
}

.modal-body {
  background-color: #1c1c24; 
  color: white; 
  font-family: 'Alte Haas Grotesk', sans-serif; 
}

.modal-footer {
  background-color: #14141c; 
  border-top: 2px solid #ff0000; 
}

.modal-footer .btn {
  background-color: #ff0000;
  border: none; 
  font-weight: bold;
}

.modal-footer .btn:hover {
  background-color: #ff0000; 
}


.modal-dialog {
  max-width: 500px; 
}

.modal-body {
  padding: 20px;
  font-size: 16px;
}
.more-info-btn {
  background-color: transparent; 
  color: white; 
  font-weight: bold;
  border: 2px solid white; 
  padding: 10px 20px;
  font-family: 'Alte Haas Grotesk', sans-serif;
  border-radius: 5px;
  transition: all 0.3s ease; 
}

.more-info-btn:hover {
  background-color: transparent; 
  color: #ff0000; 
  border: 2px solid #ff0000; 
}
.btn {
  background-color: transparent;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn:active {
  outline: none;
  box-shadow: none;
  background-color: inherit;
}




  

